@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">2023కి వీడ్కోలు పలుకుతూ ప్రపంచం మొత్తం 2024కి స్వాగతం పలికేందుకు సిద్ధమైంది. న్యూ ఇయర్‌పై ప్రతీ ఒక్కరికీ కొత్త ఆశ ఉంటుంది. ఏదో చేయాలనే తపన ఉంటుంది. అందరి కలలు నెరవేరాలని ఎన్నో ప్రయత్నాలు చేస్తుంటారు. మరికొందరు కొత్త సంవత్సరం కోసం కొన్ని తీర్మానాలు చేస్తారు. ఈ సంవత్సరం మీరు తీర్మానాలు ఏవైనా చేసి ఉంటే, మీ కోరికలు నెరవేరాలని, మీ కలలు నెరవేరాలని కోరుకుంటూ  నూతన సంవత్సర శుభాకాంక్షలు YOUR vushakoila santhosh.

 </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
